.background_red {
  background: url('/assets/background/rose-2.png');
  background-repeat: repeat-y;
  background-position: top;
  padding: 20px;
  background-size: 100%;
}

.content_2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #164152;
  padding: 15px;
  height: 100%;
}

.content_2 h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.content_2 .code_magic {
  background-color: #FEF4EE;
  color: #F17889;
  border: 1px dashed #F17889;
  font-weight: 500;
  padding: 5px 33px;
  font-size: 25px;
}

.content_2 .button_submit {
  background-color: #164152;
  color: white;
  border-radius: 40px;
  font-size: 13px;
  border: 0;
  padding: 0px 50px;
  margin-top: 35px;
}
@media screen and (max-width:899px){
  .background_red {
    margin: 20px;
  }
  .background_red {
      margin: 20px;
      margin-top: 108px;
  }
  ::ng-deep app-info-sponsorship{
    display: none;
  }
}
.code-not-found{
  color: red;
  background: mistyrose;
  padding: 5px 23px;
  border: 2px dashed red;  
}
