.container_for_info {
  width: 220px;
  margin-top: 70px;
}

.info_account_container {
  height: 610px;
  width: 420px;
  position: fixed;
}

.background_blue {
  background: url('/assets/background/bleu-1.png');
  background-repeat: repeat-y;
  background-position: top;
  padding: 20px;
  background-size: 100%;
  margin-bottom: 20px;
}

.content_1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #164152;
  padding: 15px;
  height: 100%;
  align-items: center;
}

.account_user p {
  margin: 0;
  font-size: 27px;
}

.account_solde {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    margin-bottom: -9px;
}

.account_solde span {
  font-size: 18px;
  font-weight: 500;
  color: #64B7D3;
  ;
}

.account_solde .mat-icon {
  width: 40px;
  height: 40px;
  color: #64B7D3;
}

.logout_button {
  margin: 0;
  margin-top: 20px;
}

.logout_button button {
  border-radius: 50px;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #164152;
  background-color: white;
  border: 1px solid #164152;
  display: flex;
  margin: 0 auto;
  margin-top: 5px;
  align-items: center;
}

.logout_button button span {
  padding-top: 1px;
  padding-left: 5px;
}

.promo_friend {
  border: 1px dashed #F17889;
  padding: 15px;
}

.login_full_width {
  width: 100%
}

.button_sponsor {
  display: none;
}

@media screen and (max-width : 899px) {
  .background_blue {
    margin: 18px;
    margin-top: 45px;
  }

  .button_sponsor {
    display: block;
  }

  .button_sponsor button {
    background-color: #164152;
    color: white;
    border-radius: 58px;
    padding: 12px 32px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #164152;
    display: flex;
    margin: 10px auto;
    margin-top: 10px;
  }

  .container_for_info {
    width: 100%;
    margin-top: 0
  }

  .info_account_container {
    background: none;
    padding: 0;
    background-size: 100%;
    height: 100%;
    width: 100%;
    display: unset;
    position: initial;
  }

  .main_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: initial;
  }

  .background_red {
    display: none;
  }

  ::ng-deep .content_2 h2 {
    font-size: 18px;
  }


}
