<nav>
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="nav-spacer"></span>
      <button mat-icon-button>
        <mat-icon class="nav-icon" aria-hidden="false" aria-label="user account" (click)="onAccountClick()">
          person_outline</mat-icon>
      </button>
      <div class="wrapper-menu clickable" (click)="onMenuClick()">
        <div class="line-menu "></div>
        <div class="line-menu half start"></div>
        <div class="line-menu "></div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<div class="top_menu_logo">
  <img src="assets/image/logo.png" alt="Yakadej" />
</div>
