<mat-expansion-panel>
  <mat-expansion-panel-header>
    Mes information personelles
  </mat-expansion-panel-header>

  <p>This is the primary content of the panel.</p>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    Mes commandes passées
  </mat-expansion-panel-header>

  <p>This is the primary content of the panel.</p>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    Paramètres et notifications
  </mat-expansion-panel-header>

  <p>This is the primary content of the panel.</p>

  <mat-action-row>
    <button mat-button>Click me</button>
  </mat-action-row>
</mat-expansion-panel>