h1 {
  font-weight: 300;
  font-size: 27px;
  margin-top: 20px;
}

@media screen and (max-width:899px){
  h1 {
    line-height: 29px;
    margin-top: 45px;
  }
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
}

.login_full_width {
  width: 100%;
  margin-top: .5em;
}

.login_full_width.center {
  display: flex;
  justify-content: center;
}

.in_the_end {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width:899px){
  .in_the_end{
    margin-top: 65px
  }
}

.go_back {
  text-transform: uppercase;
  color: #F17889;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.password_form h1 strong{
  background-color: white;
}
.login_button{
  margin-top: 20px;
}

@media screen and (max-width:899px){
  .password_form{
    padding: 16px;
  }
}