<div class="password_form">
  <h1>Tu as oublié <strong>ton mot de passe ?</strong></h1>
  <span class="subtitle">Nous allons t'envoyer un petit email pour le réinitialiser ;)</span>
  <form [formGroup]="passwordForm" (ngSubmit)="onSendEmail()">
    <mat-form-field class="login_full_width">
      <input matInput type="email" formControlName="email" placeholder="EMAIL" required>
      <mat-error *ngIf="passwordForm.controls['email'].hasError('required')">
        Entrez votre email
      </mat-error>
    </mat-form-field>
    <div class="login_full_width center">
      <button mat-flat-button class="login_button primary_button" type="submit" [disabled]="!passwordForm.valid">
        Réinitialiser
      </button>
    </div>
  </form>
  <div class="in_the_end">
    <span>Finalement je l'ai retrouvé !</span>
    <span class="go_back clickable" (click)="onClose()">Me connecter</span>
  </div>
</div>