<div class="order_few_click">
  <h1>Je commande <strong>en quelques clics</strong></h1>
  <div class="img_walkthrough">
    <div class="img_walk_content">
      <div class="image_walk">
        <div class="icon_container ">
          <div class="badge">
            <span class="img_walk_ups">1</span>
          </div>
          <div class="icon">
            <img src="assets/image/picto/walk_1.svg" />
          </div>
          <span class="img_walk_down">
            Tu renseignes <br /> <span class="strong">ton entreprise</span>
          </span>
        </div>
      </div>
    </div>
    <div class="img_walk_content">
      <div class="image_walk">
        <div class="icon_container ">
          <div class="badge">
            <span class="img_walk_ups">2</span>
          </div>
          <div class="icon">
            <img src="assets/image/picto/walk_2.svg" />
          </div>
          <span class="img_walk_down">
            Tu choisis <br /> <span class="strong">ton repas</span>
          </span>
        </div>
      </div>
    </div>
    <div class="img_walk_content">
      <div class="image_walk">
        <div class="icon_container ">
          <div class="badge">
            <span class="img_walk_ups">3</span>
          </div>
          <div class="icon">
            <img src="assets/image/picto/walk_3.svg" />
          </div>
          <span class="img_walk_down">
            Tu règles <span class="strong">en ligne</span> ou par <span class="strong">tickets resto</span> auprès du
            livreur
          </span>
        </div>
      </div>
    </div>
    <div class="img_walk_content">
      <div class="image_walk">
        <div class="icon_container ">
          <div class="badge">
            <span class="img_walk_ups">4</span>
          </div>
          <div class="icon">
            <img src="assets/image/picto/walk_4.svg" />
          </div>
          <span class="img_walk_down">
            <span class="strong">Et, hop !</span> <br /> Tu es livré gratuitement
          </span>
        </div>
      </div>
    </div>
  </div>
</div>