<form [formGroup]="registerFormCompany" class="register_form" (ngSubmit)="onSubmit()">

  <mat-form-field class="register_full_width">
    <input matInput type="text" formControlName="name" placeholder="NOM DE L'ENTREPRISE" required>

    <mat-error *ngIf="registerFormCompany.controls['name'].hasError('required')">
      Le nom de l'entreprise est obligatoire
    </mat-error>
  </mat-form-field>

  <mat-form-field class="register_full_width">
    <input matInput type="text" formControlName="address" placeholder="ADRESSE" required>
    <mat-error *ngIf="registerFormCompany.controls['address'].hasError('required')">
      L'adresse est obligatoire
    </mat-error>
  </mat-form-field>

  <mat-form-field class="register_full_width">
    <input matInput type="text" formControlName="codePostaleOrCity" placeholder="CODE POSTALE OU VILLE" required>
    <mat-error *ngIf="registerFormCompany.controls['codePostaleOrCity'].hasError('required')">
      Le code postale ou la ville est obligatoire
    </mat-error>
  </mat-form-field>

  <mat-form-field class="register_full_width">
    <input matInput type="number" formControlName="numberOfEmployees" placeholder="NOMBRE DE SALARIÉS" required>
    <mat-error *ngIf="registerFormCompany.controls['numberOfEmployees'].hasError('required')">
      Veuillez renseigner le nombre d'employés
    </mat-error>
  </mat-form-field>

  <div class="inline">
    <label id="ticket_resto">TICKETS RESTAURANTS</label>
    <mat-radio-group aria-label="Select an option" formControlName="amountTicketRestoValidate" aria-label="ticket_resto"
      required>
      <mat-radio-button value="true">Oui</mat-radio-button>
      <mat-radio-button value="false">Non</mat-radio-button>
    </mat-radio-group>
    <mat-error
      *ngIf="registerFormCompany.controls['amountTicketRestoValidate'].hasError('required') && registerFormCompany.controls['amountTicketRestoValidate'].touched">
      Ce champ est obligatoire
    </mat-error>

    <mat-form-field *ngIf="registerFormCompany.controls['amountTicketRestoValidate'].value == 'true'">
      <input matInput type="number" formControlName="amountTicketResto" placeholder="Ecris ici le montant" required>
      <mat-error
        *ngIf="registerFormCompany.controls['amountTicketResto'].hasError('required') && registerFormCompany.controls['amountTicketResto'].touched">
        Veuillez renseigner le montant des tickets
      </mat-error>

    </mat-form-field>

  </div>
  <div class="submit">
    <button class="register_button" mat-flat-button color="primary" type="submit"
      [disabled]="!registerFormCompany.valid">
      SUIVANT
    </button>
  </div>

</form>