<form [formGroup]="credentialFormGroup" (ngSubmit)="onSubmit()">

  <mat-form-field class="register_full_width">
    <input matInput type="email" formControlName="emailCurrentUser" placeholder="EMAIL" required>
  </mat-form-field>

  <mat-form-field class="register_full_width">
    <input matInput type="password" formControlName="currentPassword" placeholder="MOT DE PASSE ACTUEL" required>
    <mat-error *ngIf="credentialFormGroup.controls['currentPassword'].hasError('required')">
      Veuillez renseigner votre mot de passe actuel
    </mat-error>
  </mat-form-field>

  <mat-form-field class="register_full_width">
    <input matInput type="password" formControlName="newPassword" placeholder="NOUVEAU MOT DE PASSE" required>
    <mat-error *ngIf="credentialFormGroup.controls['newPassword'].hasError('required')">
      Veuillez renseigner un mot de passe
    </mat-error>
  </mat-form-field>


  <mat-form-field class="register_full_width">
    <input matInput type="password" formControlName="confirmNewPassword" placeholder="RESSAISIR NOUVEAU MOT DE PASSE"
      required>
    <mat-error *ngIf="credentialFormGroup.controls['confirmNewPassword'].hasError('required')">
      Les 2 mots de passe ne correspondent pas
    </mat-error>
  </mat-form-field>

  <div class="register_full_width center">
    <button class="register_button btn_style" mat-flat-button type="submit">MODIFIER</button>
  </div>

  <div *ngIf="passNotSameError">
    <p class="error_not_same_password">Les mots de passe de correspondent pas.</p>
  </div>
</form>