.register_full_width{
    width: 100%;
}

.btn_style{
    background: white;
    color: black;
    border: 1px solid black;
    width: 70%;
    padding: 2px;
    border-radius: 60px;
    max-width: 350px;
    margin-top: 20px;
}

.error_not_same_password{
    color: #F17889;
}