<div class="content">

  <div class="sub_wrap">
    <div class="bckgrn"></div>
    <div class="border"></div>
  </div>

  <div class="wrap">
    <div class="bckgrn"></div>
    <div class="border"></div>
  </div>
  <div class="legals">
    <h1><strong>Mentions</strong> légales</h1>
    <h2 class="article">PUBLICATION DU SITE</h2>
    <p>
      Le présent site www.yakadej.fr est édité par la société YAKADEJ, SARL au capital de 10 000 €, immatriculée au
      RCS de Lille sous le n° 80831763000016 dont le siège est situé au 41 rue de la Distillerie 59493 Villeneuve
      d’Ascq.
      <br><br>
      <strong>Représentant légal</strong> : M. Toulemonde, dirigeant.
      <br><br>
      <strong>L’hébergement du site est assuré par</strong> : <br>
      Amazon Web
      Services LLC<br>
      P.O. Box 81226 <br>
      Seattle, WA 98108-1226<br>
      http://aws.amazon.com
      <br><br>
      <strong> Information de contact et horaires d’ouverture du service client</strong>
      <br>
      Une assistance à l’utilisation du site
      www.yakadej.fr et aux services associés
      est accessible :
      <br>- Par email : contact@yakadej.fr
      <br>- Du lundi au vendredi de 9H00 à 18H00
    </p>
    <h2 class="article">PROPRIETE INTELECTUELLE</h2>
    <p>
      L’appellation « Yakadej » est une marque déposée. Le site et l’ensemble de son contenu (en ce inclus notamment
      les sons, textes, slogans types « Livreur de miam au bureau », « Dans ma boîte comme à la maison »),
      informations, images, marques (ex « Yakaron »), logos, signes distinctifs (icotype, univers coloriels),
      logiciels …) relèvent de la législation française sur le droit d’auteur et la propriété intellectuelle, et sont
      la propriété exclusive de www.yakadej.fr.
      <br><br>
      Toute reproduction, copie, représentation, utilisation, adaptation ou
      modification, par quelque procédé que ce soit et sur quelque support que ce soit, de tout ou partie du site
      www.yakadej.com sans avoir obtenu l’autorisation préalable de YAKADEJ est strictement interdite et
      constituerait, le cas échéant, un acte de contrefaçon sanctionnée notamment par les articles L.335-2 et suivants
      et L.716-1 et suivants du Code de la propriété intellectuelle.
    </p>
    <h2 class="article">COLLECTE ET TRAITEMENT DES DONNEES PERSONNELLES</h2>
    <p>
      Afin d’assurer le traitement, le suivi et l’archivage des commandes Yakadej, la société doit nécessairement
      traiter et collecter des données personnelles concernant le client.
      <br><br>
      <strong>Non divulgation des informations.</strong><br>
      Nous nous
      engageons à ne pas vendre, partager, ni divulguer vos données personnelles nominatives à des tiers. Nous vous
      invitons à consulter notre <a href="/rgpd">politique de confidentialité de vos données et cookies.</a>
      <br><br>
      <strong>Droit d’accès</strong><br>
      Vous disposez
      du droit d’accès et de mise à jour de vos données personnelles nominatives ainsi que du droit de demander leur
      suppression, conformément à la Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux
      libertés. Nous nous engageons à nous assurer que vos données personnelles nominatives sont à jour, exactes et
      complètes. Si vous souhaitez accéder à vos données personnelles, les rectifier ou les supprimer, merci de bien
      vouloir nous adresser un courrier électronique sur le lien de contact@yakadej.fr. Vos demandes seront traitées
      au plus vite.
    </p>
  </div>

  <div class="wrap">
    <div class="border"></div>
    <div class="bckgrn"></div>
  </div>
</div>

<app-newsletter></app-newsletter>