<div class="content">

  <div class="sub_wrap">
    <div class="bckgrn"></div>
    <div class="border"></div>
  </div>

  <div class="wrap">
    <div class="bckgrn"></div>
    <div class="border"></div>
  </div>
  <div class="legals">
    <h1><strong>Politique de confidentialité</strong> et de gestion des cookies Yakadej</h1>
    <p>
      Cette politique de confidentialité détaille les données personnelles qui sont collectées et traitées lorsque
      vous utilisez le site internet de Yakadej.fr (“Site”) et/ou l’application mobile de Yakadej (“Appli”).
      <br><br>
      Notre
      politique ci-dessous vous décrit la manière dont vos données personnelles sont utilisées, partagées et
      protégées. Nous vous expliquons également les choix dont vous disposez s’agissant de vos données personnelles et
      comment contacter notre équipe à ce sujet.
    </p>
    <h2 class="article">Qui est responsable du traitement de vos données personnelles ?</h2>
    <p>
      L’entité Yakadej est responsable du traitement de vos données personnelles. Différents services de l’enseigne
      peuvent utiliser vos informations personnelles pour des usages commerciaux, de suivi de clientèle et de
      commande, marketing ou de communication.
    </p>
    <h2 class="article">Quelles sont les données personnelles que nous collectons et à quel moment sont-elles
      collectées ?</h2>
    <p>
      Pour utiliser nos services via notre site www.yakadej.fr, nous vous demandons de nous fournir certaines données
      personnelles afin de vous proposer une expérience utilisateur adaptée à vos besoins.
      <br><br>
      Ces informations sont
      collectées pour la plupart d’entre elles lors de votre inscription (« Création de compte »).<br><br>
      Les données
      personnelles collectées comprennent vos :<br>
      - Coordonnées : comprenant votre nom et prénom, e-mail, numéro de
      téléphone et adresse de livraison (votre lieu de travail).<br>
      - Informations d’utilisateur et de compte, comprenant
      vos identifiant unique d’utilisateur et mot de passe ; <br>
      - Informations personnelles, comprenant votre sexe, date
      de naissance et votre historique d’achats ; <br>
      - Informations de paiement ou de carte de crédit ; <br>
      - Préférences de
      notifications, comprenant vos préférences de notification marketing et/ou commerciales (codes promos, offres
      exclusives etc). <br><br>
      En fonction de votre usage de nos services, nous collectons des données personnelles
      supplémentaires telles que : <br>
      - Votre géolocalisation dans le cadre de l’usage de notre application mobile et/ou
      de la version responsive mobile de notre site internet www.yakadej.fr. <br>
      - Les coordonnées personnelles de vos
      amis et/ou collègues comprenant leur adresse mail pour partager votre code parrain ou marraine dans le cadre de
      notre offre parrainage.
      <br><br>
      Lorsque vous interagissez avec nos site et application mobile, certaines données sont
      automatiquement collectées depuis votre appareil ou navigateur internet.  Plus d’informations sur ces pratiques
      sont incluses dans la section “Cookies et Balises” ci-après dans cette politique de confidentialité. Ces données
      incluent : <br>
      - ID de l’appareil, état des appels, accès au réseau, information de stockage et de batterie ; et
      <br>-
      Cookies, adresses IP, en-têtes de référent, données identifiant votre navigateur internet et sa version, pixels
      espions et balises web
    </p>
    <h2>Comment utilisons-nous vos données personnelles ?</h2>
    <p>
      Nous utilisons vos données personnelles aux fins suivantes :
      <br><br>
      <strong> Pour fournir les fonctionnalités du site,
        application mobile et services que vous sollicitez</strong><br>
      Lorsque vous utilisez nos site et application mobile Yakadej,
      nous utiliserons vos données personnelles pour fournir le produit ou service demandé. Notamment, nous
      utiliserons vos données transmises pour vous informer du suivi de votre commande et vous notifier de sa
      livraison. <br><br>
      En cas d’erreur de paiement, d’annulation de votre commande ou de toute autre circonstance de ce
      type, notre service clients vous contactera en utilisant les informations que vous nous aurez
      transmises.<br><br>
      Si
      vous contactez notre service clients, nos équipes vous recontacteront aux coordonnées transmises pour vous
      apporter leur aide au problème rencontré ou pour vous apporter une réponse à la question posée. <br><br>
      <strong>Pour fournir des
        informations sur nos produits, services et à d’autres fins promotionnelles</strong><br>
      Que vous soyez clients ou prospects,
      lorsque vous acceptez nos notifications, vos informations personnelles serviront à l’envoi de communication
      marketing et promotionnelle, à des mises en avant de nos nouveautés produits et services.<br><br>
      Si vous avez déjà
      effectué une commande sur notre site ou application, vous êtes considéré comme un client. De ce fait, vos
      informations personnelles pourront servir à des fins marketing (ex : mise en avant de l’offre parrainage) et/ou
      promotionnelles (ex : envoi d’un code promotionnelle) lorsque la loi applicable le permet, sauf si vous avez
      préalablement refusé l’envoi de ce type d’informations. <br><br>
      Votre historique de commande, pourrait être utilisé pour
      vous transmettre les offres produits et similaires et des communications personnalisées. <br><br>
      <strong>Pour faire fonctionner
        et améliorer nos produits et services</strong><br>
      Nous utilisons les données personnelles que vous nous communiquez pour
      faire fonctionner notre service de repas 100% livré au bureau. Par exemple, lorsque vous effectuez un achat,
      nous utilisons cette information à des fins comptables, d’audit et d’autres finalités internes.<br><br>
      Nous pouvons
      utiliser les données personnelles relatives à la façon dont vous utilisez nos produits et services pour
      améliorer votre expérience d’utilisateur et nous permettre de détecter des problèmes techniques. <br><br>
      <strong>Pour protéger
        nos droits, propriété et sécurité et ceux des autres </strong><br>
      Nous pouvons également utiliser vos données personnelles
      relatives à la façon dont vous utilisez nos site et application mobiles pour prévenir ou détecter des fraudes,
      abus, utilisation illicite, violations de nos Conditions d’Utilisation, et pour se conformer à des décisions de
      justice, requêtes gouvernementales ou loi. <br><br>
      <strong>À des fins de recherche générale et d’analyse</strong><br>
      Nous utilisons les
      données relatives à la façon dont nos visiteurs utilisent nos site, application mobile et services, pour
      comprendre les comportements et préférences des consommateurs.  <br><br>
      <strong>Fondements Légaux </strong><br>
      Pour traiter vos données
      personnelles, nous nous fondons sur certains fondements légaux, qui dépendent de la façon dont vous interagissez
      avec nos Site et Appli.<br><br>
      - Quand vous commandez votre déjeuner Yakadej à partir de nos Site et Appli, nous avons
      besoin de vos données personnelles pour exécuter le contrat qui nous lie à vous. Par exemple, nous avons besoin
      de vos informations de contact et de paiement pour vous livrer votre commande. <br>
      - Quand vous utilisez notre
      Appli, nous nous fondons sur votre consentement au traitement et pour certaines finalités limitées afin
      d’exécuter le contrat qui nous lie (par exemple, pour des achats via l’Appli). <br>
      - Nous nous fondons également sur
      d’autres fondements légaux, tels que nos intérêts légitimes en tant qu’entreprise, pour respecter une obligation
      légale, ou pour protéger vos intérêts vitaux.
    </p>
    <h2>PARTAGE DE VOS DONNEES PERSONNELLES</h2>
    <p>
      <strong>Partage par Yakadej </strong>
      <br><br>
      Yakadej partage vos données personnelles avec :
      <br>- Des prestataires de services tiers
      procédant au traitement de données personnelles pour le compte de Yakadej, par exemple pour les paiements et
      cartes de crédit, les envois et livraisons, l’hébergement, l’administration et la gestion de vos données, la
      distribution d’e-mails, les recherches et analyses, la gestion de la marque et les promotions de produits, ainsi
      que pour l’administration de certains services et fonctionnalités. Quand nous utilisons les services de
      prestataires de services tiers, nous concluons des contrats qui leur imposent de mettre en œuvre les mesures
      techniques et organisationnelles appropriées pour protéger vos données personnelles. 
      <br>- D’autres tiers dans la
      mesure où cela est nécessaire pour : (i) se conformer à une requête gouvernementale, une décision de justice ou
      la loi applicable ; (ii) empêcher des utilisations illicites de nos Site et Appli ou la violation des Conditions
      d’Utilisation de nos Site et Appli et de nos règles ; (iii) nous défendre contre des réclamations de tiers ; et
      (iv) fournir notre assistance dans la prévention des fraudes ou des investigations (par exemple contrefaçon). 
      <br>- Tout autre tiers dans les cas où vous avez exprimé votre consentement.  <br><br>
      Nous pouvons également transférer
      les
      données personnelles vous concernant dans le cas où nous cédons ou transférons tout ou partie de nos activités
      ou actifs (en ce compris dans le cas d’une réorganisation, d’une cession, dissolution ou liquidation).
      <br><br>
      <strong>Vos
        Partages</strong><br><br> Lorsque vous utilisez certaines fonctionnalités sociales sur nos Site ou Appli, vous
      pouvez créer un
      profil public qui peut contenir des informations telles que votre pseudonyme, votre photo de profil.  Nous vous
      encourageons à utiliser les outils que nous vous fournissons pour contrôler au mieux les informations que vous
      rendez ainsi disponibles par l’intermédiaire des fonctionnalités Yakadej.
    </p>
    <h2>PROTECTION ET GESTION DE VOS DONNEES PERSONNELLES</h2>
    <p>
      <strong>Cryptage et Sécurité</strong><br>
        Nous utilisons différentes mesures de sécurité techniques et organisationnelles, et
      notamment le cryptage et des outils d’authentification, pour assurer la sécurité de vos données
      personnelles.<br><br>
      <strong>
        Conservation de vos données personnelles</strong><br> Vos données personnelles seront conservées aussi
      longtemps que
      nécessaire pour réaliser les finalités exposées dans cette politique de confidentialité (sauf si une durée de
      conservation plus longue est requise par la loi applicable). <br><br>
      En général, cela signifie que nous
      conserverons vos
      données personnelles tant que vous conserverez votre compte Yakadej. Pour les données personnelles relatives aux
      achats de produits, nous les conservons plus longtemps afin de nous conformer à des obligations légales (telles
      que la règlementation fiscale ou en matière de vente et à des fins de garantie).
    </p>
    <h2>VOS DROITS EN LIEN AVEC VOS DONNEES PERSONNELLES</h2>
    <p>
      Vous avez le droit de solliciter : (i) l’accès à vos données personnelles ; (ii) une copie électronique de vos
      données personnelles (portabilité) ; (iii) la rectification de vos données personnelles si elles se révèlent
      incomplètes ou inexactes ; ou (iv) l’effacement ou la limitation de vos données personnelles dans certaines
      circonstances prévues par la loi applicable. Ces droits ne sont pas absolus. Dans les cas où vous nous avez
      fourni votre consentement au traitement de vos données personnelles, vous avez le droit de retirer votre
      consentement à tout moment.<br><br>
      Si vous souhaitez solliciter une copie de vos données personnelles ou exercer
      n’importe lequel de vos droits, veuillez nous contacter en utilisant les informations de contact ci-après :
      Service clients : contact@yakadej.fr <br><br>
      <strong>Refus du Marketing Direct </strong><br>
      Si vous bénéficiez d’un compte Yakadej, vous
      pouvez refuser de recevoir les communications marketing de Yakadej en modifiant vos préférences dans la section
      « Mon compte » > « Mes préférences de notifications » de notre site www.yakadej.fr . Vous pouvez également
      refuser en modifiant vos souscriptions par e-mail ou SMS en cliquant sur le lien de désinscription ou en suivant
      les instructions de désabonnement incluses dans le message.<br><br>
      Alternativement, vous pouvez nous contacter en
      utilisant les informations de contact ci-après : Service clients : contact@yakadej.fr
    </p>
    <h2>COOKIES ET BALISES</h2>
    <p>
      Yakadej collecte des informations, qui peuvent inclure des données personnelles, depuis votre navigateur lorsque
      vous utilisez notre Site. Nous utilisons différentes méthodes, telles que les cookies et balises, pour collecter
      ces informations, lesquelles peuvent inclure vos (i) adresse IP ; (ii) cookie unique d’identification, cookie
      d’information et informations sur les contenus de votre matériel pour accéder à certaines caractéristiques ;
      (iii) numéro unique d’identification du matériel et type de matériel ; (iv) domaine, type de navigateur et
      langue ; (v) système d’exploitation et paramétrage ; (vi) pays et fuseau horaire ; (vii) site préalablement
      visité ; (viii) informations sur vos actions sur notre Site telles que comportement en termes de clics, achats
      et préférences ; et (ix) heures d’accès et URLs de référence. <br><br>
      Des tiers peuvent également collecter des
      informations depuis le Site par l’intermédiaire de cookies, de modules tiers et widgets. Ces tiers collectent
      des données directement depuis votre navigateur et le traitement de ces données est soumis à leurs propres
      politiques de protection des données personnelles. <br><br>
      Nous utilisons des cookies et des balises pour suivre
      l’usage du Site par nos clients et comprendre leurs préférences. Cela nous permet de fournir des services à nos
      clients et d’améliorer leur expérience en ligne. Nous utilisons également des cookies et des balises pour
      obtenir des informations générales sur le trafic du site et ses interactions, pour identifier des tendances et
      obtenir des statistiques, et ainsi améliorer notre Site. Il y a en général trois catégories de cookies utilisés
      sur notre Site : <br><br>
      <strong>- Cookies fonctionnels </strong>: Ces cookies sont requis pour les fonctionnalités basiques du site et
      sont par conséquent toujours actifs. Cela comprend les cookies qui vous permettent d’être reconnus lorsque vous
      visitez notre Site au cours d’une même session ou, si vous le souhaitez, d’une session à l’autre. Ils permettent
      d’établir votre panier d’achat et la procédure de paiement mais également d’assurer la sécurité des échanges et
      le respect de la réglementation.<br>
      <strong>- Cookies de performance </strong>: Ces cookies nous permettent d’améliorer les
      fonctionnalités de notre Site en suivant leur usage. Dans certains cas, ces cookies permettent d’améliorer la
      rapidité avec laquelle nous traitons votre demande, et de retenir les préférences que vous avez sélectionnées.
      Refuser ces cookies peut entraîner des recommandations moins pertinentes et un ralentissement de la performance
      du site. <br>
      <strong>- Cookies de Réseaux sociaux et Publicité </strong>: Les cookies de réseaux sociaux offrent la
      possibilité de
      vous connecter via vos réseaux sociaux (Facebook Connect et Gmail Connect). Les cookies de publicité (de tiers)
      collectent des informations pour permettre de mieux adapter les publicités à vos centres d’intérêts, à la fois
      sur notre Site et en dehors. Dans certains cas, ces cookies nécessitent un traitement de données personnelles.
      Refuser ces cookies peut entraîner l’affichage de publicités qui ne sont pas adaptées ou empêcher la connexion
      effective à Facebook, Twitter, ou d’autres réseaux sociaux <br><br>
      Vous pouvez vous opposer à l’enregistrement de
      cookies en configurant votre navigateur de la façon suivante :<br>
      <strong>- Pour Mozilla Firefox</strong> : Choisissez le menu «
      outil » puis « Options » / Cliquez sur l’icône « vie privée » / Repérez le menu « cookie » et sélectionnez les
      options qui vous conviennent. <br>
      <strong>- Pour Microsoft Internet Explorer 6.0 à 8.0</strong> : Choisissez le menu « Outils » (ou «
      Tools »), puis « Options Internet » (ou « Internet Options ») / cliquez sur l’onglet « Confidentialité » (ou «
      Confidentiality ») / sélectionnez le niveau souhaité à l’aide du curseur. <br>
      <strong>- Pour Chrome :</strong> Allez dans le menu
      Options > Options avancées > Confidentialité puis choisissez dans « Paramètres des cookies » l’option qui vous
      convient. <br>
      <strong>- Pour Safari </strong>: Allez dans le menu Préférences > Sécurité puis choisissez la configuration qui
      vous
      convient. <br>
      <strong>- Pour Opéra </strong>: Allez dans le menu Fichier > Préférences > Avancé > Cookie puis choisissez la
      configuration qui vous convient.
    </p>
    <h2>MODIFICATIONS DE NOTRE POLITIQUE DE CONFIDENTIALITÉ</h2>
    <p>
      La législation et les pratiques évoluent au fil du temps. Si nous décidons de mettre à jour notre politique de
      confidentialité, nous publierons les modifications sur nos Site et Appli. <br><br>
      Si nous modifions matériellement la
      façon dont nous traitons vos données personnelles, nous vous ferons parvenir un avertissement préalable ou, dans
      les cas où la loi l’exige, nous vous demanderons votre autorisation préalablement à la mise en œuvre de ces
      modifications. Nous vous invitons vivement à lire notre politique de confidentialité et à vérifier régulièrement
      si des modifications y ont été apportées.<br><br>
      Cette politique de confidentialité a été modifiée pour la dernière
      fois en mai 2018.
    </p>
  </div>
  <div class="wrap">
    <div class="border"></div>
    <div class="bckgrn"></div>
  </div>
</div>
<app-newsletter></app-newsletter>