:host {
  display: block;
  overflow: 'hidden'
}

.row {
  margin: auto;
  max-width: 1280px;
}

.food_item_column {
  margin: 20px 0px;
}
@media screen and (max-width:899px){
  .food_item_column {
    margin: 0px;
  }
}
