.login_background {
  padding: 30px;
  height: 100%;
}

.direct_access_login,.direct_access_register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.direct_access_register .primary_button , .direct_access_login .primary_button {
  background-color: #68BFAC !important;
  text-transform: uppercase;
  width: 350px;
}

::ng-deep .primary_button {
  width: 350px;
}

.direct_access_register span {
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
}
@media screen and (max-width: 800px){
  .direct_access_register span {
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 14px;
  }
}

.login {
  background-color: white;
  display: block;
  height: 100%;
  /* padding: 30px 50px 30px 50px; */
  padding: 20px 50px 20px 50px;
}

@media screen and (max-width:899px){
  .login{
    background-color: white;
    display: block;
    height: 100%;
    padding: 0;
  }
  .login_background{
    padding: 0;
  }
}
.close {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 2;
}

::ng-deep .mat-tab-body-content .or {
  margin-bottom: 6px;
  text-align: center;
}

::ng-deep .not_me span {
  margin-top: 0;
}

::ng-deep .container_company {
  padding: 0px !important;
}

::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: #68BFAC;
  border-radius: 34px;
}

::ng-deep .mat-checkbox-background,
::ng-deep .mat-checkbox-frame {
  border-radius: 34px;
}

@media screen and (max-width: 899px){
  ::ng-deep .mat-tab-header-pagination , ::ng-deep .mat-tab-header-pagination-before  ,::ng-deep   .mat-elevation-z4 , ::ng-deep .mat-ripple{
    display: none
  }
  .close{
    position: absolute;
    /* top: 90px; */
    top: -5px;
    right: 0;
    z-index: 2;
  }
  .close .mat-icon{
    height: 15px;
    width: 15px;
    font-size: 20px;
  }
  .direct_access_register .primary_button , .direct_access_login .primary_button{
    width: 266px;
    text-align: center;
    padding: 0px 0px;
  }

  ::ng-deep .primary_button {
    width: 266px;
  }

  ::ng-deep .direct_access_register .not_me span{
    margin-top: -14px;
    margin-bottom: 12px;
  }
}