<article class="promise">
	<section class="promise_left">
		<h1>Fais toi plaisir <strong> sans culpabiliser</strong></h1>
		<p class="eco_friendly">
			On te livre dans un packaging eco-friendly
		</p>
		<p class="promise__bio">
			0 plastique, 100% compostable
		</p>
		<button mat-button class="btn_to_concept" [routerLink]="['/concept']">nos engagements</button>
	</section>
	<section class="promise_right">
		<div class="promise__background"></div>
		<img src="/assets/image/package.png" alt="" />
	</section>
</article>
