<div class="basket_container" *ngIf="order">
  <h1>Comment souhaites-tu <strong>payer ?</strong></h1>
  <div class="order">
    <div class="order_resume">
      <!-- payment means-->
      <div
        class="bloc payment"
        [ngClass]="{ padded: payWithAccount }"
        *ngIf="accountMoney > 0"
      >
        <div id="payement_by_solde">
          <mat-checkbox
            class="checkbox account_checkbox"
            [checked]="payWithAccount"
            (change)="accountSwitch($event.checked)"
            [disabled]="accountMoney <= 0"
          >
          </mat-checkbox>
          <div
            class="payment_mean clickable"
            (click)="accountSwitch(!payWithAccount)"
          >
            <span
              ><img src="/assets/icons/Solde.svg" class="payment_icon"
            /></span>
            <span
              >Utiliser
              <strong
                >mon solde :
                <b>{{ accountMoney | number: "1.2-2" }} €</b></strong
              ></span
            >
          </div>
        </div>
      </div>

      <ng-container *ngIf="payWithAccount && accountMoney < totalPrice">
        <h2>Compléter mon paiement par</h2>
        <br />
      </ng-container>

      <mat-radio-group
        [(ngModel)]="paymentMean"
        (change)="paymentMeanChanged($event)"
      >
        <div
          *ngIf="paymentWithNegativeSolde()"
          class="bloc2 payement negative-solde"
          [ngClass]="{ padded: paymentMean == 'soldeNegative' }"
        >
          <div>
            <mat-radio-button value="soldeNegative" class="top_level">
            </mat-radio-button>
            <div class="payment_mean_bloc clickable">
              <div
                class="payment_mean"
                (click)="clickOnPaymentDiv('soldeNegative')"
              >
                <span
                  ><img src="/assets/icons/pay.svg" class="payment_icon_pay"
                /></span>
                <span
                  >Je <b>paierai plus tard</b> en titre restaurant <br /><small
                    >Dans la limite d'une commande maximum de
                    <b>{{ user.negativeBalance }}€</b></small
                  ></span
                >
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="paymentWithNegativeSolde()" class="tr_info">
          <img src="/assets/icons/Tickets-restau.svg" class="tr-hidden" style="visibility:hidden;" />
          <div class="tr_content info-tr">
            <span><small>Il te faudra réapprovisionner ton compte pour passer une seconde
              commande. <br />Pour cela il te faudra confier à ton livreur tes
              tickets restaurants.</small></span>
          </div>
        </div>

        <div class="bloc payment" [ngClass]="{ padded: paymentMean == 'card' }">
          <div>
            <mat-radio-button value="card" class="top_level">
            </mat-radio-button>
            <div class="payment_mean_bloc clickable">
              <div
                class="payment_mean first_mean"
                (click)="clickOnPaymentDiv('card')"
              >
                <span
                  ><img src="/assets/icons/Master-card.svg" class="payment_icon"
                /></span>
                <span>Par <strong>carte bancaire</strong></span>
                <span class="right">
                  <img src="/assets/logo_payement/cartes2.png" />
                </span>
              </div>

              <div class="payment_mean_for_mobile">
                <span
                  ><img src="/assets/icons/Master-card.svg" class="payment_icon"
                /></span>
                <div class="mobile">
                  <span>Par <strong>carte bancaire</strong></span>
                  <span class="right">
                    <img src="/assets/logo_payement/cartes.png" />
                  </span>
                </div>
              </div>

              <mat-radio-group
                [(ngModel)]="cardMean"
                *ngIf="isPaymentMean('card')"
              >
                <div class="payment_mean_details">
                  <div
                    class="payment_mean_details_option"
                    *ngIf="creditCards.length > 0"
                  >
                    <mat-radio-button value="existing"> </mat-radio-button>
                    <div class="payment_mean_details_item">
                      <span (click)="setCardMean('existing')"
                        >Utiliser une carte enregistrée</span
                      >
                      <mat-radio-group
                        [(ngModel)]="selectedCard"
                        *ngIf="isCardMean('existing')"
                      >
                        <div class="payment_cards">
                          <mat-radio-button
                            *ngFor="let cb of creditCards"
                            [value]="cb"
                          >
                            <div class="credit_card">
                              <span class="credit_card_number">
                                {{ cb.number }}
                              </span>
                              <span class="credit_card_expiration">
                                {{ cb.expirationDate.month }}/{{
                                  cb.expirationDate.year
                                }}
                              </span>
                              <span class="credit_card_delete">
                                <button mat-button (click)="deleteCard(cb)">
                                  EFFACER CETTE CARTE
                                </button>
                              </span>
                            </div>
                          </mat-radio-button>
                        </div>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div class="payment_mean_details_option">
                    <mat-radio-button value="new"> </mat-radio-button>
                    <div class="payment_mean_details_item">
                      <span (click)="setCardMean('new')"
                        >Ajouter une carte</span
                      >
                      <app-form-mean-payement
                        (creditCard)="creditCard = $event"
                        (shouldSave)="shouldSaveCreditCard = $event"
                        *ngIf="isCardMean('new')"
                        class="app_form"
                      >
                      </app-form-mean-payement>
                    </div>
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </div>

        <div
          class="bloc payment last-bloc"
          [ngClass]="{ padded: paymentMean == 'resto' }"
        >
          <div>
            <mat-radio-button value="resto" class="top_level">
            </mat-radio-button>
            <div
              class="payment_mean_bloc clickable"
              (click)="clickOnPaymentDiv('resto')"
            >
              <div class="payment_mean">
                <span
                  ><img
                    src="/assets/icons/Carte-restau.svg"
                    class="payment_icon"
                /></span>
                <span>Par <strong>carte titre restaurant</strong></span>
              </div>
              <mat-radio-group
                [(ngModel)]="thirdPartyMean"
                *ngIf="isPaymentMean('resto')"
              >
                <div class="payment_mean_details">
                  <div class="payment_mean_details_option">
                    <mat-radio-button value="payzen"> </mat-radio-button>
                    <div class="payment_mean_details_item">
                      <span (click)="setRestoCard('payzen')"
                        >Carte titre restaurant
                      </span>
                      <span class="right" style="width:200px;">
                        <img
                          id="right2"
                          style="width: 100%"
                          src="/assets/logo_payement/all.png"
                        />
                      </span>
                      <div style="visibility: hidden">
                        <form action="" method="POST" id="payzen-form">
                          <input type="hidden" name="vads_action_mode" />
                          <input type="hidden" name="vads_amount" />
                          <input type="hidden" name="vads_ctx_mode" />
                          <input type="hidden" name="vads_currency" />
                          <input type="hidden" name="vads_cust_email" />
                          <input type="hidden" name="vads_order_id" />
                          <input type="hidden" name="vads_order_info" />
                          <input type="hidden" name="vads_page_action" />
                          <input type="hidden" name="vads_payment_cards" />
                          <input type="hidden" name="vads_payment_config" />
                          <input
                            type="hidden"
                            name="vads_redirect_success_timeout"
                          />
                          <input type="hidden" name="vads_return_mode" />
                          <input type="hidden" name="vads_site_id" />
                          <input type="hidden" name="vads_trans_date" />
                          <input type="hidden" name="vads_trans_id" />
                          <input type="hidden" name="vads_url_cancel" />
                          <input type="hidden" name="vads_url_error" />
                          <input type="hidden" name="vads_url_refused" />
                          <input type="hidden" name="vads_url_return" />
                          <input type="hidden" name="vads_url_success" />
                          <input type="hidden" name="vads_version" />
                          <input type="hidden" name="signature" />
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="payment_mean_details_option">
                    <mat-radio-button value="edenred"> </mat-radio-button>
                    <div class="payment_mean_details_item">
                      <span (click)="setRestoCard('edenred')"
                        >Carte Edenred</span
                      >
                      <span class="right">
                        <div class="img_redim">
                          <img src="/assets/logo_payement/edenred.png" />
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </mat-radio-group>

      <div class="tr_info">
        <img src="/assets/icons/Tickets-restau.svg" />
        <div class="tr_content">
          <span
            ><strong
              >Tu souhaites payer par tickets restaurant papiers ?</strong
            ></span
          >
          <br />
          <span
            >Tes tickets restaurant papiers sont crédités directement sur ton
            compte, une fois que tu les as déposés dans la boîte aux lettres
            dédiée de ton entreprise. Pour les utiliser, choisis l’option
            <strong>« Utiliser mon solde »</strong>.</span
          >
        </div>
      </div>
    </div>

    <div class="order_misc">
      <!-- promo -->
      <div class="bloc delivery_sum">
        <div class="padded">
          <div>
            <span class="delivery_sum_label">Total</span>
            <span class="delivery_sum_price"
              >{{ totalPrice | number: "1.2-2" }} € <small>TTC</small></span
            >
          </div>
        </div>
      </div>

      <div class="cgv_consent" id="cgv_consent">
        <mat-checkbox
          class="checkbox"
          [(ngModel)]="cgvOK"
          [ngClass]="{ error: hasError }"
        >
          En validant ma commande je déclare avoir pris connaissance et accepté
          sans réserves
          <a target="_blank" [routerLink]="['/cgv']"
            >les conditions générales de vente.</a
          >
        </mat-checkbox>
      </div>

      <div class="delivery_pay mobile_hide">
        <button mat-flat-button class="primary_button" (click)="onPayment()">
          VALIDER MA COMMANDE
        </button>
      </div>

      <ng-container *ngIf="isPaying">
        <div class="loader">
          <mat-progress-spinner
            class="spinner-style"
            [mode]="mode"
            [value]="value"
          >
          </mat-progress-spinner>
        </div>
      </ng-container>

      <div class="delivery_notes">
        <span> <mat-icon>check</mat-icon> Paiement sécurisé </span>
      </div>
    </div>
  </div>
</div>

<div class="price_container_sticky">
  <button
    mat-flat-button
    class="price_btn"
    (click)="onPayment()"
    (click)="scrollToSpinner()"
    [disabled]="isPaying === true"
    [ngClass]="{ disabled: isPaying }"
  >
    <span>Valider ma commande</span>
  </button>
</div>
