.background {
  background-image: url('/assets/background/orange-2.png');
  background-color: #FAF0F0;
  padding: 30px;
  height: 100%;
  display: block;
}

h1 {
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  line-height: 36px;
}

h1 strong {
  background: white;
}

@media screen and (max-width: 899px) {
  .background {
    background-position: top;
    background-repeat: repeat-x;
    padding-top: 120px;
  }

  h1 {
    font-weight: 300;
    font-size: 22px;
  }
}

@media screen and (min-width: 900px) {
  .background {
    background-position: center;
    background-size: cover
  }
}

.date {
  background-color: white;
  display: block;
  height: 100%;
  padding: 70px 50px 30px 50px;
}

@media screen and (max-width:899) {
  .date {
    padding-top: 90px;
  }
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 2;
}

@media screen and (max-width:899px) {
  .close {
    position: absolute;
    top: 120px;
    right: 30px;
    z-index: 2;
  }
}

.box_date {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  color: #C3C3C3;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  width: 75px;
}

.content>span {
  text-align: center;
}

@media screen and (max-width:899px) {
  .content {
    margin: 2px;
  }
}

.content_day {
  border: 2px solid #C3C3C3;
  padding: 5px;
  width: 40px;
  margin: auto;
  margin-top: 10px;
}

.border {
  border-top: 2px solid #C3C3C3;
  width: 100%;
  display: block;
  text-align: center;
}

.content.available,
.content.available .content_day .border {
  color: #305260;
}

.content.available .content_day,
.content.available .content_day .border {
  border-color: #305260;
  cursor: pointer;
}

.content.selected,
.content.selected .content_day .border {
  color: #F08050;
}

.content.selected .content_day,
.content.selected .content_day .border {
  border-color: #F08050;
}

.full_width_center {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width:899px) {
  #order_place_form ::ng-deep .container_company {
    padding-top: 120px;
  }
}
