<article class="formula">
	<section class="formula_left">
		<div class="img_fomula">
			<img src="/assets/image/pouletwaterzoi.jpg" alt="" />
			<div class="card_formula card_formula__left">
				<p>
					Ta formule de 6€50 à 8€50<br />
					Réglable en CB ou titre restaurant ;)
				</p>
				<button mat-button class="btn_to_concept" [routerLink]="['/concept']">voir</button>
			</div>
		</div>
	</section>
	<section class="formula_right">
		<div class="img_fomula">
			<img src="/assets/image/yakalivreur.jpg" alt="" />
			<div class="card_formula card_formula__right">
				<p>
					Il y en a pour toutes les faims !
				</p>
				<button mat-button class="btn_to_concept" [routerLink]="['/concept']">découvrir le concept</button>
			</div>
		</div>
	</section>
</article>